* {
    box-sizing: border-box;
}

body {
    background: #fafafa;
}

.todo-cnt {
    max-width: 60rem;
    margin: 0 auto;
}

.todo-form {
    font-family: sans-serif;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background: #fff;
}

.todo-form-row {
    overflow: hidden;
}

.todo-form-label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}

.todo-form-message {
    padding: 1rem;
    height: 10rem;
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 0.5rem;
    resize: vertical;
    font-family: sans-serif;
}

.todo-form-button {
    padding: 0.8rem 1.6rem;
    background: tomato;
    color: #fff;
    border: 0;
    border-radius: 0.188rem;
    transition: 0.4s all;
    cursor: pointer;
    float: right;
}

.todo-form-button:hover {
    background: #ED2D2D;
}

.todo-list-cnt {
    background: #fff;
    font-family: sans-serif;
    margin: 1rem 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem;
}

.todo-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-list-search-form {
    width: 50%;
}

.todo-list-search {
    border: 1px solid #ddd;
    padding: 0.5rem;
    width: 100%;
}

.todo-list-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    text-transform: uppercase;
}

.todo-element {
    border-top: 1px solid #ddd;
    margin-top: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.todo-element-bar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;
}

.todo-element-date {
    margin: 0;
}

.todo-element-date {
    font-size: 0.9rem;
    font-weight: normal;
}

.todo-element-delete {
    color: tomato;
    border: 0;
    font-size: 1rem;
    background: none;
    cursor: pointer;
    padding: 0;
    transition: 0.4s all;
}

.todo-element-delete svg {
    pointer-events: none;
    /* nie chcemy obsługi kliknięć na elementy svg - bo takie dodaje użyty fontAwesome */
}

.todo-element-delete:hover {
    color: #ED2D2D;
}

.todo-element-text {
    color: #777;
    font-size: 0.8rem;
}